.background-color {
    background-color: #f3f4f6; /* Color gris claro */
  }

  .body{
    background-color: #f3f4f6; /* Color gris claro */
  }
  .primary-color {
    background-color: #6db33f; /* Color verde de Spring Boot */
  }